header {
	background-color: white;
	padding: 0px 10px;
}

header button {
	border: none;
	padding: 10px 20px;
	color: white;
	background-color: firebrick;
	font-weight: bold;
	text-transform: uppercase;
}

nav a {
	margin: 0px 10px;
	text-decoration: none;
	text-transform: uppercase;
	color: teal;
}
